body {
    background-color: rgb(255, 255, 255);
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;
}

h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
#profile {
    padding-top: 30px;
}
.carousel-inner{
    height: 300px;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

